*
{
    box-sizing: border-box;
}
body{
    background-image: url(image/Background\ img.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
}
h1{
    font-size: 4rem;
    color: red;
    margin-top: -10rem;
}
.countdown-container
{
    display: flex;
}
.big-txt
{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
}
.count{
    text-align: center;
}
.count span{
    font-size: 2rem;
}